@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}
html {
  @apply h-full;
}

.fib {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
